@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// fonts
$font-family: 'Lato',
sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;

* {
    font-family: $font-family;
    //color: $dark-grey;
    line-height: $font-height;
    font-style: normal;
    font-weight: normal;
}

.site-page-header-ghost-wrapper {
    padding: 24px;
}
.ant-tabs-tab {
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #494F66;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #EF3340;
}
 .ant-tabs-ink-bar {
    position: absolute;
    background: #EF3340;
    pointer-events: none;
 }
.ant-layout-header {
    width: fit-content !important;
    height: fit-content !important;
    border-radius: 0px !important;
    background: none !important;
    position: absolute;
    left: 121px;
    top: calc(50% - 16px/2);
}

.ant-layout-footer {
    background: none !important;
}

.ant-page-header-heading-extra {
    padding: 0px 50px;
}

.page-header {
    background: none !important;
    position: fixed;
    z-index: 1;
    width: 100%;
}
.page-image{
    position: fixed!important;
}
.ant-input {
    border-radius: 4px;
    padding: 16px;
    color: #494F66;
}
.ant-input-number{
    border-radius: 4px;
    padding: 8px;
    color: #494F66;
    width: 100%!important;    
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector{
    border-radius: 4px;
    height: auto;
    padding: 8px;
}
.input-error{
    border: 1px solid #EF3340;
    border-radius: 4px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.ant-input-group-addon {
    border-radius: 4px;
    //padding: 16px;
}

.ant-checkbox .ant-checkbox-inner {
    background-color: #43B748;
    border-color: #43B748;
}

.ant-checkbox::after {
    border-color: #43B748;
}

.ant-checkbox:hover {
    border-color: #43B748;
}

.ant-checkbox:visited {
    border-color: #43B748;
}

.ant-checkbox:active {
    border-color: #43B748;
}

.ant-checkbox-disabled .ant-checkbox-inner {
    background-color: gray;
    border-color: gray;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #43B748;
    border-color: #43B748;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-extra{
    float: left;
}
.margin-input {
    margin: 8px 0px !important;
    width: 100%;
}

.margin-content-tb {
    margin: 100px 0px !important;
}

.margin-l {
    margin-left: 200px;
}

.margin-r {
    margin-right: 200px;
}
.m-tb{
   margin: 20px 0px; 
}
.m-lr{
   margin: 0px 20px; 
}
.m-t-0{
    margin-top: 0px!important;
}
.ml-85{margin-left:85%}
.w-30 {width: 30%;}
.w-50 {width: 50%;}

.w-75 {width: 75%;}

.w-80 {width: 80%;}

.w-100 {width: 100%;}

.pt-50 {padding-top: 50%;}

.pt-40 {padding-top: 40%;}

.pt-35 {padding-top: calc(35%);}
.pt-30 {padding-top: calc(30%);}

.pt-20 {padding-top: calc(20%);}

.pt-10 {padding-top: 10%;}
.contents-middle{
   height: 10em;
   position: relative 
}
.button-red {
    border-radius: 8px;
    background: #EF3340;
    border-color: #EF3340;
    padding: 20px 32px;
    height: auto !important;
    //width: 100%;
    margin-top: 40px;
    width: 288px;
}

.button-red:hover {
    background-color: #fc4e55;
    border-color: #fc4e55;
}

.button-red:active {
    background-color: #ffd7da;
    border-color: #ffd7da;
}

.button-red:focus {
    background-color: #fc4e55;
    border-color: #fc4e55;
}

.background-image {
    //background-image: url('https://www.rimac.com/content/dam/rimac/publica/pdp-vehicular/Bg.png');
    background-color: #ECF0FF;
    margin: 0;
    padding: 0;
    background-position: top;
    min-height: 100vh;
    background-position-x: left;
    position: relative;
    background-repeat: no-repeat;
}
.background-steps {
    background-color: #ECF0FF;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
}

.background-personaje {
    image-rendering: url('https://www.rimac.com/content/dam/rimac/publica/pdp-vehicular/personaje.svg');
}
.background-2page{
    background-image: url('../styles/images/rightImage.png');
    background-position-x: right;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    border: 3px solid #F0F2FA;
    box-sizing: border-box;
    border-radius: 12px;
    margin: 40px;
}
//-------------CUSTOM TEXTS-----------
.text-red {
    color: #EF3340;
}

.title05 {
    font-size: 28px;
    color: #494F66;
}

.title04 {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.2px;
    color: #494F66;
}
.title12 {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #494F66;
}

.title13 {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #676F8F;
}

.paragraph2 {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #676F8F;
}
.regular-font {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #494F66;
}

.subtitle01 {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #494F66;
}
.subtitle02 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #676F8F;
}
.subtitle03 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #676F8F;
}
.subtitle06{
    font-size: 20px;
    line-height: 28px;
    //display: flex;
    align-items: center;
    color: #494F66;
}
.link-text{
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #6F7DFF;
    padding: 0px;
}
.rob-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: $font-weight-light;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #A3ABCC;
    left: 121px;
    top: 649px;
}
.footer-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: $font-weight-light;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #A3ABCC;
    position: absolute;
    left: 121px;
    top: 649px;
}

//---------Responsive---------
.mobile-version {
    display: none;
}
.header-mobile{
    display: none;
}
.details-01-mobile{
    display: none;
}
.steps-mobile{display: none;}
.details-02-button{
    display: none;
}
@media only screen and (max-width:500px) {
    .desktop-version {
        display: none;
    }
    .footer-text{display: none;}
    .mobile-version {
        display: flex;
        position: fixed;
    }
    .background-image{min-height: 40vh;}
    .background-steps{min-height: 5vh;}
    .button-container{
        text-align-last: center;
    }
    .ant-col-offset-1{margin-left:0%;}
    .ant-col-offset-2{margin-left:0%;}
    .ant-col-offset-3{margin-left:0%;}
    .ant-col-offset-8{margin-left:0%;}
    .car-image{
        width: 230%;
        float: right;
        transform: translate(100px, 70px);
    }
    .title04{
        font-size: 2em;
        font-weight: 400;
    }
    .header-desktop{
        display: none;
    }
    .header-mobile{
        display: flex;
    }
    .ant-page-header-heading-extra{
        padding: 0px;
        left: auto;
        float: right;
        right: 25px;
        position: absolute;
        font-size: 1.25rem;
    }
    .ant-layout-header{
        padding: 0px;
        left: 15px;
        top: 22px;
    }
    .pt-30{padding-top: 30px;}
    .margin-l{margin-left: 50px;}
    .details-01-desktop{
        display: none;
    }
    .details-01-mobile{
        display: flex;
    }
    .ant-card-body{padding: 10px;}
    .card-details-01 {
        background: #F7F8FC;
        margin: 0px 20px;
        border-radius: 8px;
        width: 100%;
    }

    .details-form-01 {
        padding: 20px;
    }

    .w-80 {
        width: 100%!important;
    }
    .page-image{display: none;}
    .steps-mobile{display: flex;}
    .margin-content-tb {
        margin: 0px!important;
    }
    .progress-bar{
        position: fixed;
        z-index: 999;
        background: #fff;
        margin: 10px;
    }
    .ant-progress-outer{
        padding-right: 50px!important;
    }
    .details-02-image{
        display: none;
    }
    .details-02-button{
        display: flex;
    }
    .subtitle03{text-transform: uppercase;}
    .button-02-red{margin-top: 0px!important;}
    .transform-img-03{
        transform-origin: left;
        transform: translate(250%, 20%) scaleX(-1);
    }
    .ml-85{margin-left: 0%;} 
    .pt-50{padding-top: 0%;}
    .button-red{width: 100%;}
}