@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// fonts
$font-family: 'Lato',
sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;

* {
    font-family: $font-family;
    //color: $dark-grey;
    line-height: $font-height;
    font-style: normal;
    font-weight: normal;
}

.site-page-header-ghost-wrapper {
    padding: 24px;
}

.ant-layout-header {
    width: fit-content !important;
    height: fit-content !important;
    border-radius: 0px !important;
    background: none !important;
    position: absolute;
    left: 121px;
    top: calc(50% - 16px/2);
}

.ant-layout-footer {
    background: none !important;
}

.ant-page-header-heading-extra {
    padding: 0px 50px;
}

.page-header {
    background: none !important;
    position: fixed;
    z-index: 1;
    width: 100%;
}
//----Responsive
/* @media (min-width: 576px) {
    .page-header {
        background: none !important;
        //width: 100%;
    }
} */
.ant-input {
    border-radius: 4px;
    padding: 16px;
    color: #494F66;
}
.ant-input-number{
    border-radius: 4px;
    padding: 8px;
    color: #494F66;
    width: 100%!important;    
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector{
    border-radius: 4px;
    height: auto;
    padding: 8px;
}
.input-error{
    border: 1px solid #EF3340;
    border-radius: 4px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.ant-input-group-addon {
    border-radius: 4px;
    //padding: 16px;
}

.ant-checkbox .ant-checkbox-inner {
    background-color: #43B748;
    border-color: #43B748;
}

.ant-checkbox::after {
    border-color: #43B748;
}

.ant-checkbox:hover {
    border-color: #43B748;
}

.ant-checkbox:visited {
    border-color: #43B748;
}

.ant-checkbox:active {
    border-color: #43B748;
}

.ant-checkbox-disabled .ant-checkbox-inner {
    background-color: gray;
    border-color: gray;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #43B748;
    border-color: #43B748;
}

.margin-input {
    margin: 8px 0px !important;
    width: 288px;
}

.margin-content-tb {
    margin: 100px 0px !important;
}

.margin-l {
    margin-left: 200px;
}

.margin-r {
    margin-right: 200px;
}
.m-tb{
   margin: 20px 0px; 
}
.w-50 {width: 50%;}

.w-75 {width: 75%;}

.w-80 {width: 80%;}

.w-100 {width: 100%;}

.pt-50 {padding-top: 50%;}

.pt-40 {padding-top: 40%;}

.pt-30 {padding-top: 30%;}

.pt-20 {padding-top: 20%;}

.pt-10 {padding-top: 10%;}

.button-red {
    border-radius: 8px;
    background: #EF3340;
    border-color: #EF3340;
    padding: 20px 32px;
    height: auto !important;
    width: 100%;
    margin-top: 40px;
    width: 288px;
}

.button-red:hover {
    background-color: #fc4e55;
    border-color: #fc4e55;
}

.button-red:active {
    background-color: #ffd7da;
    border-color: #ffd7da;
}

.button-red:focus {
    background-color: #fc4e55;
    border-color: #fc4e55;
}

.background-image {
    //background-image: url('https://www.rimac.com/content/dam/rimac/publica/pdp-vehicular/Bg.png');
    background-color: #ECF0FF;
    margin: 0;
    padding: 0;
    background-position: top;
    min-height: 100vh;
    background-position-x: left;
    position: relative;
    background-repeat: no-repeat;
}

.background-personaje {
    image-rendering: url('https://www.rimac.com/content/dam/rimac/publica/pdp-vehicular/personaje.svg');
}

//-------------CUSTOM TEXTS-----------
.text-red {
    color: #EF3340;
}

.title05 {
    font-size: 28px;
    color: #494F66;
}

.title04 {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.2px;
    color: #494F66;
}
.title12 {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #494F66;
}

.title13 {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #676F8F;
}

.paragraph2 {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #676F8F;
}
.regular-font {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #494F66;
}

.subtitle01 {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #494F66;
}
.subtitle02 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #676F8F;
}
.link-text{
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #6F7DFF;
    padding: 0px;
}
.footer-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: $font-weight-light;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #A3ABCC;
    position: absolute;
    left: 121px;
    top: 649px;
}